## CoinAPI test

In [1]:
# libraries
import requests
import pandas as pd
import numpy as np

### Wrangle coin attributes

In [2]:
symbols = pd.read_csv('coin data.csv')

c:\Users\seowjiajun\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6,9,10,11,12,18,21,22,23,24,26,27,28,29,30,31,32,40,41,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
coins = [
    'BTC', 'ETH', 'BNB', 'ADA', 'XRP',
    'SOL', 'DOGE', 'MATIC', 'UNI', 'AVAX'
]

quote_currency = 'USDT'

In [5]:
binance_df = symbols[symbols['exchange_id'].str.contains("BINANCE")]
binance_df_spot = binance_df[binance_df['symbol_type'].isin(['SPOT'])]
binance_perp_df = binance_df[binance_df['symbol_type'].isin(['PERPETUAL'])]
binance_df_spot = binance_df_spot[['symbol_id', 'exchange_id', 'symbol_type', 'asset_id_base',
       'asset_id_quote', 'data_start', 'data_trade_start']]
binance_perp_df = binance_perp_df[['symbol_id', 'exchange_id', 'symbol_type', 'asset_id_base',
       'asset_id_quote', 'data_start', 'data_trade_start']]

In [6]:
b_usd_filtered_spot = binance_df_spot[binance_df_spot['asset_id_base'].isin(coins) & binance_df_spot['asset_id_quote'].isin([quote_currency])]
b_usd_filtered_perp = binance_perp_df[binance_perp_df['asset_id_base'].isin(coins) & binance_perp_df['asset_id_quote'].isin([quote_currency])]

In [7]:
b_usd_filtered_spot.sort_values(by='asset_id_base', inplace=True)
b_usd_filtered_perp.sort_values(by='asset_id_base', inplace=True)

c:\Users\seowjiajun\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [8]:
spot_list = b_usd_filtered_spot[b_usd_filtered_spot['exchange_id'].isin(['BINANCE'])].sort_values(by='data_start')
spot_lst = spot_list['symbol_id'].to_list()

In [9]:
spot_list

,symbol_id,exchange_id,symbol_type,asset_id_base,asset_id_quote,data_start,data_trade_start
1786,BINANCE_SPOT_BTC_USDT,BINANCE,SPOT,BTC,USDT,2017-08-17,2017-08-17T04:00:28.3220000Z
1787,BINANCE_SPOT_ETH_USDT,BINANCE,SPOT,ETH,USDT,2017-08-17,2017-08-17T04:00:29.8840000Z
6876,BINANCE_SPOT_BNB_USDT,BINANCE,SPOT,BNB,USDT,2017-11-06,2017-11-06T03:54:23.5900000Z
9198,BINANCE_SPOT_ADA_USDT,BINANCE,SPOT,ADA,USDT,2018-04-17,2018-04-17T04:02:33.1680000Z
9423,BINANCE_SPOT_XRP_USDT,BINANCE,SPOT,XRP,USDT,2018-05-04,2018-05-04T08:11:31.4180000Z
14239,BINANCE_SPOT_MATIC_USDT,BINANCE,SPOT,MATIC,USDT,2019-04-25,2019-04-26T15:00:00.1490000Z
15702,BINANCE_SPOT_DOGE_USDT,BINANCE,SPOT,DOGE,USDT,2019-07-05,2019-07-05T12:00:01.9570000Z
28744,BINANCE_SPOT_SOL_USDT,BINANCE,SPOT,SOL,USDT,2020-08-11,2020-08-11T06:03:26.1400000Z
31063,BINANCE_SPOT_UNI_USDT,BINANCE,SPOT,UNI,USDT,2020-09-17,2020-09-17T03:00:00.0000000Z
31346,BINANCE_SPOT_AVAX_USDT,BINANCE,SPOT,AVAX,USDT,2020-09-22,2020-09-22T06:30:00.0000000Z

In [10]:
perp_list = b_usd_filtered_perp[b_usd_filtered_perp['exchange_id'].isin(['BINANCEFTS'])].sort_values(by='data_start')
perp_lst = perp_list['symbol_id'].to_list()

### Observations
- start at 23/10/2020 -> 1hr bar (MATIC has latest start date for PERP)

In [20]:
# params
api_keys = [
    '815D4FD7-0E6C-45EB-8837-1641175407AC', 
    '3E34C9E7-5D31-4B89-A8E9-467B7B861921',
    '534DE109-4D11-464B-B86F-DBB1419C3899'
]

new_api_keys = [
    '8A7521A1-1421-48AB-A166-49AA604883C2',
    '9434F1A8-E441-40DC-8F37-A9D981F4DFAF',
    'D4E31EFE-768A-421D-8813-10662E14D9ED',
    '8DB943AB-8D97-42AF-A9B2-00B4DC53A4D2',
    'D17137DA-D524-457A-9593-C27C02E66AAC',
    '8F0CFB1F-5173-4111-B08D-75333CCC211F',
    '8F0CFB1F-5173-4111-B08D-75333CCC211F',
    '62CDDFAC-C043-47AF-94B1-874BB6722F0A',
    '2557683A-3F65-4942-823D-871241C83AC7',
    '5845C6EB-7ED0-4D9E-B020-504BA17844C7',
    'AB7FDBA0-F0A4-44C1-A224-A8D2ED84954D'
]

In [21]:
f'{new_api_keys[10]}'

'AB7FDBA0-F0A4-44C1-A224-A8D2ED84954D'

In [22]:
url = f'https://rest.coinapi.io/v1/ohlcv/BINANCE_SPOT_BTC_USDT/history?period_id=1HRS&time_start=2022-10-23T00:00:00'
headers = {'X-CoinAPI-Key' : f'{new_api_keys[10]}'}
response = requests.get(url, headers=headers)
if response.status_code == 200:
    data = pd.DataFrame(response.json())

In [23]:
data

Empty DataFrame
Columns: []
Index: []

In [19]:
spot_lst[6]

'BINANCE_SPOT_DOGE_USDT'

In [27]:
all_df = pd.read_pickle('overall.pkl')
all_df.head()

,time_period_start,time_period_end,time_open,time_close,price_open,price_high,price_low,price_close,volume_traded,trades_count,ticker
100,2020-10-27T04:00:00.0000000Z,2020-10-27T05:00:00.0000000Z,2020-10-27T04:00:00.1790000Z,2020-10-27T04:59:59.7730000Z,13083.24,13125.00,13083.24,13124.60,1100.816862,15977,BINANCE_SPOT_BTC_USDT
101,2020-10-27T05:00:00.0000000Z,2020-10-27T06:00:00.0000000Z,2020-10-27T05:00:01.0350000Z,2020-10-27T05:59:59.8560000Z,13124.61,13144.49,13080.24,13088.65,1447.336487,19319,BINANCE_SPOT_BTC_USDT
102,2020-10-27T06:00:00.0000000Z,2020-10-27T07:00:00.0000000Z,2020-10-27T06:00:00.6080000Z,2020-10-27T06:59:58.3880000Z,13088.66,13106.09,13061.01,13106.09,1570.109937,19349,BINANCE_SPOT_BTC_USDT
103,2020-10-27T07:00:00.0000000Z,2020-10-27T08:00:00.0000000Z,2020-10-27T07:00:00.3400000Z,2020-10-27T07:59:59.9890000Z,13106.08,13160.00,13086.97,13144.58,2602.515018,26664,BINANCE_SPOT_BTC_USDT
104,2020-10-27T08:00:00.0000000Z,2020-10-27T09:00:00.0000000Z,2020-10-27T08:00:00.1290000Z,2020-10-27T08:59:59.6000000Z,13144.59,13170.21,13125.00,13141.56,2226.309279,33975,BINANCE_SPOT_BTC_USDT

In [15]:
def append_and_save(df):
    all_df = pd.read_pickle('overall.pkl')
    all_df = all_df.append(df)
    all_df.to_pickle('overall.pkl')
    
# append_and_save(matic_df)

In [17]:
def get_data(df, start, count_limit, ticker, api_key):
    count = 0
    condition = 0
    while True:
        if df.empty:
            start_dt = '2022-10-23T00:00:00'
        else:
            start_dt = start
        try:
            if count == 0 and condition == 0:
                url = f'https://rest.coinapi.io/v1/ohlcv/{ticker}/history?period_id=1HRS&time_start={start_dt}'
                headers = {'X-CoinAPI-Key' : f'{api_key}'}
                response = requests.get(url, headers=headers)
                if response.status_code == 200:
                    data = pd.DataFrame(response.json())
                    if data.empty:
                        break
                    data['ticker'] = ticker
                    df = df.append(data)
                    print('1st iteration done')
                    condition = 1
                    count += 1
                elif response.status_code != 200:
                    print('error in retrieving data')
                    break
            elif condition == 1 and count > 0 and count < count_limit:
                start_dt_revised = data.iloc[-1:,1:2].values[0][0][0:19]
                url = f'https://rest.coinapi.io/v1/ohlcv/{ticker}/history?period_id=1HRS&time_start={start_dt_revised}'
                headers = {'X-CoinAPI-Key' : f'{api_key}'}
                response = requests.get(url, headers=headers)
                if response.status_code == 200:
                    data = pd.DataFrame(response.json())
                    if data.empty:
                        break
                    data['ticker'] = ticker
                    df = df.append(data)
                    print(f'{count} iteration')
                    condition = 1
                    count += 1
                elif response.status_code != 200:
                    print('no data for n run')
                    break
            elif count == count_limit:
                break
                    
        except Exception as e:
            print(e)
            break
    
    return df

In [211]:
coin_df

Empty DataFrame
Columns: [ticker]
Index: []

In [26]:
start = ''
ticker = spot_lst[7]
api_key = new_api_keys[5]
count_limit = 100
df = pd.DataFrame()

coin_df = get_data(df, start, count_limit, ticker, api_key)

In [189]:
count = 0
condition = 0
while True:
    start_dt = '2021-12-16T10:00:00'
    try:
        if count == 0 and condition == 0:
            url = f'https://rest.coinapi.io/v1/ohlcv/{spot_lst[5]}/history?period_id={interval}&time_start={start_dt}'
            headers = {'X-CoinAPI-Key' : f'{new_api_keys[4]}'}
            response = requests.get(url, headers=headers)
            if response.status_code == 200 and count < 10:
                data = pd.DataFrame(response.json())
                data['ticker'] = spot_lst[5]
                matic_df = matic_df.append(data)
                print('1st iteration done')
                condition = 1
                count += 1
            elif response.status_code != 200:
                print('error in retrieving data')
                break
        elif condition == 1 and count > 0 and count < 50:
            start_dt_revised = data.iloc[-1:,1:2].values[0][0][0:19]
            url = f'https://rest.coinapi.io/v1/ohlcv/{spot_lst[5]}/history?period_id={interval}&time_start={start_dt_revised}'
            headers = {'X-CoinAPI-Key' : f'{new_api_keys[4]}'}
            response = requests.get(url, headers=headers)
            if response.status_code == 200:
                data = pd.DataFrame(response.json())
                data['ticker'] = spot_lst[5]
                matic_df = matic_df.append(data)
                print(f'{count} iteration')
                condition = 1
                count += 1
            elif response.status_code != 200:
                print('no data for n run')
                break
        elif count == 50:
            break
                
    except Exception as e:
        print(e)
        break

error in retrieving data

In [107]:
overall_tickers.columns

Index(['time_period_start', 'time_period_end', 'time_open', 'time_close',
       'price_open', 'price_high', 'price_low', 'price_close', 'volume_traded',
       'trades_count', 'ticker'],
      dtype='object')

In [141]:
overall_tickers.to_pickle('overall.pkl')

### data wrangling

In [108]:
test_wrangle = pd.read_pickle('overall.pkl')
test_wrangle = test_wrangle[test_wrangle['ticker'].isin([spot_lst[0]])]

In [ ]:
def get_date(dt):
    return dt.date

def get_time(ts):
    return ts.time().hour * 100 + ts.time().minute

def wrangle_to_pivot(df, col_list):
    df = df[col_list]
    
    # convert to datetime and timezone for first column
    df.iloc[:, 0:1] = pd.to_datetime(df.iloc[:, 0:1], utc=True)
    df = df.set_index(col_list[0])
    df['Date'] = df.index.map(lambda x: get_date(x))
    df['Time'] = df.index.map(lambda x: get_time(x))
    df = df.pivot(index='Date', columns='Time', values=col_list[1])
    return df

In [119]:
test_wrangle

Time,0,100,200,300,400,500,600,700,800,900,...,1400,1500,1600,1700,1800,1900,2000,2100,2200,2300
Date,,,,,,,,,,,,,,,,,,,,,
2020-10-23,12911.48,12904.19,12985.00,12960.01,12919.31,12988.01,12877.31,12883.62,12917.44,12945.20,...,12932.08,12921.09,12788.19,12785.92,12852.97,12918.99,12927.60,12904.83,12934.53,12923.07
2020-10-24,12905.82,12963.76,12989.00,12967.74,12966.32,12964.71,12946.76,12924.79,12931.00,12949.56,...,13067.01,13100.00,13076.94,13126.53,13103.66,13118.24,13091.80,13059.32,13068.53,13111.73
2020-10-25,13131.67,13138.84,13127.36,13295.50,13311.81,12954.56,13013.36,13027.24,13018.94,12993.01,...,12985.98,12940.74,12999.99,13001.98,12985.58,13042.16,13020.58,13023.95,13011.97,13028.83
2020-10-26,13049.22,13074.06,13087.70,13094.53,13109.33,13103.43,13078.06,13037.08,13054.38,13086.72,...,13167.17,12978.41,12844.52,12875.03,12963.25,13004.50,12996.08,13013.72,13043.21,13052.19
2020-10-27,13092.89,13094.12,13071.89,13083.24,13124.60,13088.65,13106.09,13144.58,13141.56,13144.80,...,13390.83,13609.24,13642.75,13673.58,13633.93,13656.89,13602.52,13692.58,13730.00,13636.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-22,21454.26,21443.79,21471.59,21414.86,21466.72,21428.66,21350.67,21097.72,21189.55,21175.06,...,21201.08,21400.47,21331.57,21233.01,21023.94,21057.25,21130.11,21101.67,21175.93,21399.83
2022-08-23,21303.25,21306.86,21347.38,21239.18,21265.60,20965.89,21083.26,21305.34,21450.00,21442.58,...,21467.99,21474.67,21462.75,21414.72,21543.77,21522.01,21478.35,21489.36,21475.50,21529.12
2022-08-24,21385.79,21264.71,21200.06,21264.01,21328.56,21421.18,21404.55,21317.85,21341.40,21314.67,...,21467.61,21618.45,21717.89,21633.24,21674.91,21707.58,21691.93,21592.07,21493.73,21368.08
2022-08-25,21481.32,21553.87,21526.96,21468.93,21540.79,21559.17,21692.19,21743.29,21686.64,21705.62,...,21657.95,21565.12,21445.00,21571.16,21539.70,21605.20,21646.11,21583.00,21576.26,21559.04
2022-08-26,21477.12,21558.13,21599.10,21552.17,21530.53,21404.25,21425.00,21452.90,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### creating sql db

In [22]:
engine = sqlalchemy.create_engine('sqlite:///btcusdt.db')

In [ ]:
data = pd.read_sql('btcusdt', engine)

In [27]:
data

     symbol                    time           price
0   BTCUSDT 2022-01-01 15:55:49.044  47213.21000000
1   BTCUSDT 2022-01-01 15:55:49.044  47213.21000000
2   BTCUSDT 2022-01-01 15:55:49.044  47213.21000000
3   BTCUSDT 2022-01-01 15:55:49.188  47213.22000000
4   BTCUSDT 2022-01-01 15:55:49.188  47213.22000000
..      ...                     ...             ...
95  BTCUSDT 2022-01-01 15:55:59.472  47227.39000000
96  BTCUSDT 2022-01-01 15:55:59.941  47227.38000000
97  BTCUSDT 2022-01-01 15:55:59.967  47227.38000000
98  BTCUSDT 2022-01-01 15:55:59.967  47227.38000000
99  BTCUSDT 2022-01-01 15:55:59.974  47227.39000000

[100 rows x 3 columns]

#### Momentum Idea
- testing different lookback periods for (if ret > [range], long, else: short)
- use 15mins and 4hrs timeframe to trade
- transaction cost -> ftx costs
- bid-ask pricing -> buy and sell at 10pips higher